* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #eae1df;
  font-weight: 300;
  color: #222;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 5em;
}
h2 {
  font-weight: 500;
  font-size: 3em;
}
h3 {
  font-weight: 500;
  font-size: 2em;
}
h4 {
  font-weight: 500;
  font-size: 22px;
  font-style: italic;
}
button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  padding: 0 35px;
  display: inline-block;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
nav li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #222;
  transition: width 0.3s ease;
}
nav li:hover::after {
  width: 100%;
}
nav li:hover {
  font-weight: bold;
}
.boton {
  color: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #222;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-radius: 15px;
  transition: background-color 0.2s, color 0.2s;
}
.boton:hover {
  background-color: #222;
  color: #eae1df;
  border: 2px solid #222;
  font-weight: bold;
}
div.puntos {
  background-image: url(../assets/imagen-puntos.svg);
  background-repeat: repeat-x;
  background-size: cover;
  width: calc(100vw - 80px);
  margin-left: 40px;
  margin-right: 40px;
  height: 100px;
  border: 3px solid #222;
}
.bordes {
  border-right: 3px solid #222;
  border-left: 3px solid #222;
}
.margenes-contenedor {
  width: calc(100vw - 80px);
  margin-left: 40px;
  margin-right: 40px;
}
.contenedor-pastillas {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  margin-left: 40px;
}

.pastillas {
  display: inline-block;
  letter-spacing: 1px;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #222;
  color: #eae1df;
}

.linea {
  width: 100%;
  height: 3px;
  background-color: #222;
}

.espacio {
  margin-top: 50px;
}
