.contenedor-columna {
  width: calc(100vw - 80px);
  margin: 0 40px;
  padding: 40px;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5%;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.contenedor-columna p {
  line-height: 35px;
  font-size: clamp(16px, 3vw, 20px);
}

.columna {
  flex: 1;
}
.columna h1 {
  padding-bottom: 20px;
}

/*RESPONSIVE*/
@media screen and (max-width: 1024px) {
  .contenedor-columna {
    flex-direction: column;
    margin: 0 40px;
  }
  .columna p {
    padding-bottom: 18px;
    line-height: 30px;
    text-align: left;
  }
}
