* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #eae1df;
  font-weight: 300;
  color: #222;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 5em;
}
h3 {
  font-weight: 500;
  font-size: 3em;
}
button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 0 35px;
  display: inline-block;
  position: relative;
}

nav li a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

nav li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #222;
  transition: width 0.3s ease;
}
nav li:hover::after {
  width: 100%;
}

nav li:hover {
  font-weight: bold;
}

.boton {
  color: inherit;
  align-self: flex-start;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  position: relative;
  border: 2px solid #222;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-radius: 15px;
  transition: background-color 0.2s, color 0.2s;
}

.boton:hover {
  background-color: #222;
  color: #eae1df;
  border: 2px solid #222;
  font-weight: bold;
}
