div.contenedor-general {
  width: calc(100vw - 80px);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  height: auto;
}
div.ubicacion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ubicacion p {
  padding-left: 10px;
}
div.fecha-ubicacion {
  height: auto;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #222;
}
div.titulo-imagen {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60vh;
  line-height: 100px;
  border-left: 3px solid #222;
}
div.imagen {
  width: 50%;
  height: 60vh;
  background-image: url(../assets/imagen-portada-color.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  filter: saturate(0%);
}

div.imagen:hover {
  filter: saturate(100%);
}
div.contacto {
  display: flex;

  width: 100%;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  border-top: 3px solid #222;
  justify-content: space-around;
}
div.telefono,
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.telefono p,
.email p {
  margin-left: 10px;
  margin-right: 20px;
}
.boton-cv {
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  padding: 20px;
}
