div.contenedor-general {
  width: calc(100vw - 80px);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
div.ubicacion {
  display: flex;
  align-items: center;
  padding: 20px;
}

.texto-email span:hover,
.texto-telefono span:hover {
  font-weight: bold;
}

.email p,
.telefono p {
  cursor: pointer;
}
.ubicacion p {
  font-size: 20px;
  padding-right: 40px;
}
div.fecha-ubicacion {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.fecha {
  padding-left: 40px;
  font-size: 20px;
}
div.titulo-imagen {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60vh;
  line-height: 100px;
  border-left: 3px solid #222;
}
div.titulo h1,
div.titulo h2 {
  margin-bottom: 50px;
}
div.imagen {
  width: 50%;
  height: 60vh;
  background-image: url(../assets/imagen-portada-color.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  filter: saturate(0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
div.imagen:hover {
  filter: saturate(100%);
}
div.contacto {
  display: flex;
  padding: 20px;
  width: 100%;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  border-top: 3px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
div.telefono,
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.telefono p,
.email p {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
}
.boton-cv {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 20px;
}
.clic {
  background-color: #222;
  padding: 3px;
  border-radius: 3px;
  color: #eae1df;
  transition: background-color 0.2s, color 0.2s;
}
.material-symbols-outlined {
  font-size: 24px;
  margin-right: 8px;
}
.copiar {
  cursor: pointer;
}
/*RESPONSIVE*/
@media screen and (max-width: 1024px) {
  div.titulo-imagen {
    flex-direction: column;
  }
  div.imagen {
    height: 50%;
    width: 50%;
    padding-top: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  .imagen {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
  div.fecha-ubicacion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .fecha {
    padding: 25px 0 5px 0;
    font-size: 18px;
  }
  div.ubicacion p {
    font-size: 16px;
    padding: 5px;
  }
  div.titulo-imagen {
    border-left: 3px solid #222;
    border-right: 3px solid #222;
    padding: 10px;
  }
  div.titulo {
    border: none;
    height: auto;
  }

  div.titulo h1,
  div.titulo h2 {
    margin-bottom: 20px;
  }
  div.contacto {
    flex-direction: column;
    justify-content: left;
    padding: 6px;
  }
  div.email {
    justify-content: left;
    width: auto;
  }
  div.telefono {
    width: auto;
    justify-content: left;
  }
  .contacto p {
    font-size: 18px;
  }
  div.titulo h1,
  div.titulo h2 {
    margin-bottom: 0px;
  }
  div.contenedor-general {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100vw - 30px);
  }
}
